.header__container {
  height: fit-content;
  background-color: rgb(75, 75, 75);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  position: absolute;
  .header__list {
    list-style: none;
    align-items: center;
    display: flex;

    .header__item {
      .header__link {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
        display: block;
        margin: 20px 0px;
        padding: 0 20px;
        transition: 0.5s;
        // filter: hue-rotate(110deg);
        &:hover {
          background: var(--clr-neon);

          box-shadow: 0 0 5px var(--clr-neon), 0 0 15px var(--clr-neon),
            0 0 25px var(--clr-neon), 0 0 50px var(--clr-neon);
        }
      }
    }
  }
  .header__right {
    //   padding-top: 45px;
    display: flex;
    align-items: center;
    .header__logout {
      text-transform: uppercase;
      color: white;

      background-color: var(--clr-neon);
      font-size: 16px;
      display: flex;
      align-items: center;
      border: none;
      margin-left: 12px;
      margin-right: 12px;
      padding: 25px 20px;
      box-shadow: 0 0 5px var(--clr-neon), 0 0 15px var(--clr-neon),
        0 0 25px var(--clr-neon), 0 0 50px var(--clr-neon);
      font-weight: 500;
    }
    &-container {
      display: flex;
      align-items: center;
      height: fit-content;
      padding-right: 12px;
      border-right: 1px solid grey;
      .header__info {
        margin-right: 5px;
        &-text {
          font-size: 16px;
          color: #fff;
          font-weight: bold;
        }
      }
      .header__right-avt {
      }
    }
  }
}
